<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <!--Available INWK_QA.config, LocalHost.config-->
  <appSettings configSource= "INWK_QA.config" />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="buildDocSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://engine.edocbuilder.com/services/builddoc.asmx"
        binding="basicHttpBinding" bindingConfiguration="buildDocSoap"
        contract="EdocBuilder.buildDocSoap" name="buildDocSoap" />
    </client>
  </system.serviceModel>
</configuration>